<?xml version="1.0"?>
<launch>
	<!-- launch empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find klaas_robots)/worlds/objects.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

	<!-- launch turtlebot -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find klaas_robots)/urdf/turtlebot3_burger.urdf.xacro" /> 
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -param robot_description" /> 

	<!-- launch bebop: never worked. -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro $(find bebop_description)/urdf/bebop_base.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model bebop -param robot_description" />
 -->

  <!-- add RQT to visualize the changes and avoid the launch to quit -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/>

</launch>